

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(83, 150, 226);
  }

  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardWeather{
    background-color: rgba(255, 255, 255, 0.5);
    padding-top:1px;
    border-radius: 10px;
    margin-top: 45px;
    
  }

  .containerExtendido{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  .cardExtendido{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 500px;
  }

  .inputError{
    border: 2px solid red;
}

 .messageError{
    color: rgb(220, 33, 33);
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
 }

  .container {
    
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  

  input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .weatherList{
    list-style-type: none;
    padding-right: 40px;
    
  }


  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 15px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .cityIcon{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  h2 {
    font-size: 30px;
    font-weight: bold;
   
    margin-top: 20px;
  }
  
  .temperature{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
  }


  .temperatureExtendido{
    font-size: 20px;
    font-weight: bolder;
  }

  .estiloTempMin{
    color: #0056b3;
  }
  .estiloTempMax{
    color: red;
  }

  .meteorologicalConditions{
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .earthIcon{
    width: 70px;
    margin-left: 25px;
    margin-top: 5px;
  }

  .iconWeather {
    width: 120px;
    height: 120px;
    
  }

  .iconWeatherExtendido{
    width: 70px;
  }

  .subIcon{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subIconExtendido{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iconCondicion{
    width: 30px;

  }

  .iconHumedad{
    width: 27px;
  }

  .iconVisibility{
    width: 30px;
    margin-top: 12px
  }
  

  /* Estilos para móviles */
  @media (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  
    input[type="text"] {
      font-size: 14px;
    }
  
    button {
      padding: 8px 16px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    p {
      font-size: 14px;
    }
  
    img {
      width: 40px;
      height: 40px;
    }

    .containerExtendido{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .cardExtendido{
      margin-bottom: 10px
    }
  }
  