
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background:#71b1e9;
  }

  .spinner{
    width: 700px;
    color: rgb(0, 0, 0);
    border: 7px solid #000000;
  }

  .weatherMapa {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mapaImg{
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-top: 45px;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, .5);
  }

  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardWeather{
    background: #9fcdf1;
    display: block;
    padding-top:1px;
    border-radius: 10px;
    margin-top: 45px;
    width: 500px;
    height: 400px;
    box-shadow: -10px 10px 2px rgba(0, 0, 0, .5);
  }

  .containerExtendido{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .cardExtendido{
    background: linear-gradient(to bottom, #9fcdf1, #dfedfa);
    border-radius: 10px;
    width: 400px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  }

  .inputError{
    border: 2px solid red;
  }

 .messageError{
    color: rgb(220, 33, 33);
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
 }

  .container {
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
    margin-top: 40px;
    justify-content: center;
  }
  
  input{
    max-width: 600px;
    display: block;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .weatherList{
    list-style-type: none;
    padding-right: 40px;
  }

  button {
    padding: 10px 20px;
    background: #c6e0f7;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-left: 15px;
  }
  
  button:hover {
    background-color: #3b78d5;
  }
  
  .cityIcon{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .temperature{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
  }

  .temperatureExtendido{
    font-size: 20px;
    font-weight: bolder;
  }

  .estiloTempMin{
    color: #0056b3;
  }
  .estiloTempMax{
    color: red;
  }

  .meteorologicalConditions{
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .meteorologicalConditionsExtendido{
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .earthIcon{
    width: 70px;
    margin-left: 25px;
    margin-top: 5px;
  }

  .iconWeather {
    width: 120px;
    height: 120px;
  }

  .iconWeatherExtendido{
    width: 70px;
  }

  .subIcon{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subIconExtendido{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iconCondicion{
    width: 30px;
  }

  .iconHumedad{
    width: 27px;
  }

  .iconVisibility{
    width: 30px;
    margin-top: 12px
  }
  
  /* Estilos para responsive */
  
  @media (max-width: 1247px){
    .containerExtendido{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
      'card0 card1 card2'
      'card3 card4 none';
      place-items: center;
      row-gap: 20px;
    }
    
    .cardExtendido-0{
      grid-area: card0;
    }
    .cardExtendido-1{
      grid-area: card1;
    }
    .cardExtendido-2{
      grid-area: card2;
    }
    .cardExtendido-3{
      
      grid-area: card3;
    }
    .cardExtendido-4{
      
      grid-area: card4;
    }

    .cardExtendido{
      width: 350px;
      padding-top: 25px;
    }
  }
 
  @media (max-width: 1202px){
    .weatherMapa{
      display: block;
      align-items: center;
      justify-content: center;
    }

    .cardWeather{
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 1130px){
    .containerExtendido{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 
      'card0 card1'
      'card2 card3'
      'card4 none' ;
      align-items: center;
      justify-items: center;
    }

    .cardExtendido{
      width: 350px;
      padding-top: 25px;      
    }
}

  @media (max-width: 767px){
    .containerExtendido{
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-template-areas: 
      'card0' 'card1'
      'card2' 'card3'
      'card4';
      row-gap: 15px;
      place-items: center;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 603px){
    .earthIcon{
      width: 55px;
      height: 55px;
    }
    .iconCondicion{
      width: 30px;
      height: 30px;
    }
    .iconHumedad{
      width: 30px;
      height: 30px;
    }
    .iconVisibility{
      width: 30px;
      height: 30px;
    }
    .iconWeatherExtendido{
      width: 55px;
      height: 55px;
    }
  }

  @media (max-width: 545px){

    .mapaImg{
      width: 400px;
    }
    .cardWeather{
      width: 400px;
    }
  }

  @media (max-width: 441px){

    .mapaImg{
      width: 350px;
    }
    .cardWeather{
      width: 350px;
    }
  }

  @media (max-width: 388px){

    .mapaImg{
      width: 300px;
    }
    .cardWeather{
      width: 300px;
    }

    .iconCondicion{
      margin-bottom: 20px;
      margin-left: 10px;
    }

    form{
      padding-left: 10px;
    }

  }

  @media (max-width: 320px){
    .cardExtendido{
      width: 300px;
    }
    .iconCondicion{
      width: 30px;
      margin-left: 8px;
      margin-bottom: 15px;
    }
    .meteorologicalConditions{
      margin-right: 10px;
    }

    .mapaImg{
      width: 270px;
    }
    .cardWeather{
      width: 270px;
    }

    .iconCondicion{
      margin-bottom: 20px;
      margin-left: 10px;
    }

    form{
      margin-left: 10px;
    }
    button{
      margin-right: 17px;
    }
  }